<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.springbootdemo.mapper.UserXmlMapper">
    <resultMap id="BaseResultMap" type="cn.itsource.springbootdemo.entity.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="VARCHAR" property="age" />
    </resultMap>

    <select id="getUserByName" resultType="User" parameterType="String">
        select * from user where name = #{name}
    </select>
</mapper>
